<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        max-width: 800px;
        margin: 0;
        padding: 0;
        font-size: 12px; /* Tamanho da fonte */
      }

      h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 20px;
        color: #333;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      th,
      td {
        border: 1px solid #000;
        padding: 4px;
        text-align: left;
      }

      th {
        font-weight: bold;
      }

      a {
        text-decoration: none;
        color: #007bff;
      }

      a:hover {
        text-decoration: underline;
      }

      .title {
        background-color: #c0c0c0;
      }
    </style>
    <title>Pedido de Compra</title>
  </head>
  <body>
    <table>
      <tr>
        <td style="width: 150px; padding: 10px">
          <img
            src="data:image/jpg;base64,<%= imagePath %>"
            alt="Minha Imagem"
            style="max-width: 100%; height: auto"
          />
        </td>
        <td>
          <h1>Pedido de Compra</h1>
        </td>
      </tr>
    </table>
    <!-- Tabela para "Informações do Projeto" -->
    <table>
      <tr>
        <th class="title" colspan="6">Informações do Projeto</th>
      </tr>
      <tr>
        <td class="title"><strong>Nome do solicitante:</strong></td>
        <td class="title"><strong>Projeto:</strong></td>
        <td class="title"><strong>Centro de Custos:</strong></td>
        <td class="title"><strong>Filial:</strong></td>
        <td class="title"><strong>Prioridade:</strong></td>
      </tr>
      <tr>
        <td><%= project.requester %></td>
        <td><%= project.projectName %></td>
        <td><%= project.costCenter %></td>
        <td><%= project.subsidiary %></td>
        <td><%= project.priority %></td>
      </tr>
    </table>

    <!-- Tabela para "Informações da Pessoa" -->
    <table>
      <tr>
        <th class="title" colspan="2">Informações do Equipe</th>
      </tr>
      <tr>
        <td class="title"><strong>Gerente do projeto:</strong></td>
        <td><%= projectManager %></td>
      </tr>
      <tr>
        <td class="title"><strong>Lider do Projeto:</strong></td>
        <td><%= projectLeader %></td>
      </tr>
      <tr>
        <td class="title"><strong>Gerente Técnico:</strong></td>
        <td><%= technicalManager %></td>
      </tr>
      <tr>
        <td class="title"><strong>Email Solicitante:</strong></td>
        <td><%= email %></td>
      </tr>
    </table>

    <!-- Tabela para "Materiais" -->
    <table>
      <tr>
        <th class="title">Descrição</th>
        <th class="title">Quantidade</th>
        <th class="title">Valor Unitário</th>
        <th class="title">Link de Compra</th>
      </tr>
      <% let totalValue = 0; %> <% let totalQuantity = 0; %> <%
      materialList.forEach(function(material, index) { %>
      <tr>
        <td><%= material.description %></td>
        <td><%= material.quantity %> <%= material.und %></td>
        <td>
          <%= material.unitaryValue.toLocaleString('pt-BR', { style: 'currency',
          currency: 'BRL' }) %>
        </td>
        <td style="max-width: 250px; word-wrap: break-word">
          <a href="<%= material.purchaseLink %>"
            ><%= material.purchaseLink %></a
          >
        </td>
      </tr>
      <% totalValue += material.unitaryValue; %> <% totalQuantity +=
      material.quantity; %> <% }); %>
      <tr>
        <td class="title">Total:</td>
        <td class="title"><%= totalQuantity %> itens</td>
        <td class="title">
          <%= totalValue.toLocaleString('pt-BR', { style: 'currency', currency:
          'BRL' }) %>
        </td>
        <td class="title"></td>
      </tr>
    </table>
  </body>
</html>
